body {
    background-image: url('/static/img/finance.jpg');
    background-size: cover; /* מכסה את כל העמוד */
    background-position: center; /* מרכז את התמונה */
    background-attachment: fixed; /* משאיר את הרקע קבוע בעת גלילה */
    font-family: Arial, sans-serif; /* עיצוב הטקסט */
    color: #333; /* צבע טקסט */
  }
  

nav {
    background: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}


.popup { 
    display: none; 
    position: fixed; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 10px; /* Add shadow */ 
    box-shadow: 0 4px 8px rgba(227, 175, 175, 0.2); 
    /* Add padding (if you want space around your iframe content) */ 
    background-color: #c0d0d9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
} 


.form-control, .form-select{
    background-color: #fff;
}

h1, h2, p{
    color: #fff;
}

table tbody tr.income-bg {
    background-color: green !important;
}

table tbody tr.outcome-bg {
    background-color: red !important;
}

#graphs {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px 0;
    text-align: center;
}

#graphs canvas {
    border: 1px solid #ccc; /* מסגרת מסביב לגרפים */
    padding: 10px;          /* ריווח פנימי */
    background-color: rgba(216, 214, 210, 0.92); /* צבע רקע לגרף כולו */
}

.graph-container {
    display: flex;
    flex-direction: column;  /* יישור הגרפים לשורות */
    align-items: center;     /* מיקום באמצע השורה */
    gap: 20px;               /* ריווח בין השורות */
}

.graph-row {
    display: flex;           /* יישור גרפים לשורה */
    justify-content: center; /* מיקום באמצע השורה */
    gap: 20px;               /* ריווח בין הגרפים בשורה */
}

h5{
    margin: 0 100px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
}
.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.flash-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}
.flash-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.flash-danger {
    color: #721c24; /* צבע הטקסט */
    background-color: #f8d7da; /* צבע רקע */
    border: 1px solid #f5c6cb; /* צבע המסגרת */
    padding: 10px; /* ריווח פנימי */
    border-radius: 5px; /* פינות מעוגלות */
    margin-bottom: 15px; /* ריווח תחתון */
    font-family: Arial, sans-serif; /* גופן */
    font-size: 14px; /* גודל טקסט */
    text-align: center; /* יישור מרכזי */
}
