body {
    background-image: url('/static/img/finance.jpg');
    background-size: cover; /* מכסה את כל העמוד */
    background-position: center; /* מרכז את התמונה */
    background-attachment: fixed; /* משאיר את הרקע קבוע בעת גלילה */
    font-family: Arial, sans-serif; /* עיצוב הטקסט */
    color: #333; /* צבע טקסט */
  }
  

nav {
    background: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}


.popup { 
    display: none; 
    position: fixed; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid #ccc; 
    padding: 20px; 
    border-radius: 10px; /* Add shadow */ 
    box-shadow: 0 4px 8px rgba(227, 175, 175, 0.2); 
    /* Add padding (if you want space around your iframe content) */ 
    background-color: #c0d0d9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
} 


.form-control, .form-select{
    background-color: #fff;
}

h1, h2, p{
    color: #fff;
}
