{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2>Login</h2>
        </div>
        <div class="card-body">
          <form method="POST">
            <fieldset>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input 
                  name="username" 
                  type="text" 
                  class="form-control" 
                  id="username" 
                  placeholder="Enter your username" 
                  autocomplete="off">
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                  name="password" 
                  type="password" 
                  class="form-control" 
                  id="password" 
                  placeholder="Enter your password" 
                  autocomplete="off">
              </div>

              <div class="d-grid gap-2">
                <button type="submit" id="login_submit" class="btn btn-primary">
                  Login
                </button>
                <button id="forgot" class="btn btn-link text-decoration-none" type="button">
                  Forgot Password?
                </button>                
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class = "popup" id="popup_forgot">
    <div class="modal-dialog">
        <form method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupIncomeLabel">Change Password</h5>
                <button id = "closePopupBtn_forgot" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label class="form-label">Enter your username:</label>
                    <input name="username_forgot" class="form-control" id="username_forgot" type="text" /> 
                    <label class="form-label">Enter your email:</label>
                    <input name="email_forgot" class="form-control" id="email_forgot" type="email" /> 
                    <label class="form-label">Enter your new password:</label>
                    <input name="new_password_forgot" class="form-control" id="new_password_forgot" type="password" /> 
                  </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" id="clearValues_forgot">Clear</button>
            </div>
        </div>
    </form>
    </div>
</div>
</div>
{% endblock %}


